html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  margin-bottom: 1rem !important;
}

button:disabled {
  cursor: default;
}
